
@keyframes slideFromLeft {
	from {
		transform: translateX(-20em);
		opacity: 20%;
	}

	to {
		transform: translateX(0);
		opacity: 100%;
	}
}

@keyframes slideFromRight {
	from {
		transform: translateX(40em);
		opacity: 20%;
	}

	to {
		transform: translateX(0);
		opacity: 100%;
	}
}

.animated-left {animation: slideFromLeft 1s ease-in-out;}
.animated-right {animation: slideFromRight 1s ease-in-out;}

html {
	scroll-behavior: smooth;
}

.ds-container {
	display: flex;
    flex-direction: column;
}

.ds-animation {
    flex-wrap: wrap;
    align-content: center
	justify-content: center;
}

[class^= "ds-chapter-"] {
    flex-wrap: wrap;
	display: flex;
    flex-direction: row;
   	justify-content: space-evenly;
	/*justify-content: center;*/
}

.ds-chapter-heading {
    justify-content: left;
}

.ds-heading-back {
	float: left;
	width: 38%;
	max-height: 100%;
	margin-top: -1em;
	margin-bottom: 1em;
	margin-right: -1em;
}

.ds-heading-front {
	float: right;
	width: 38%;
	max-height: 100%;
	margin-top: 1em;
	margin-bottom: -1em;
}

.ds-heading-p {
	float: left;
	padding: 2em;
}

img[class^="ds-chapter-"] {
	max-height: 100%;
	width: 40%;
}

[class^="ds-paragraph-n"] {
	width: 40%;
}

