/* base */
html {
	scroll-behavior: smooth;
}

.main-and-footer {
  /*background-image: url("/img/pages/davesara/background.png");*/
  background-image: none;
  background-color: /*#E976A1*/;
  background-color: #94B1B9;

}

.index-container {
	width: 75%;
	background-color: white;
}

/* mobile version */
@media only screen and (max-width: 1000px){

	.index-container {
		width: 80%;
	}

	.mm-side-container {
		background-image: none;
		background-color: #94B1B9;
	}

}