
.ds-container {
	display: flex;
    flex-direction: column;
}

.ds-animation {
    flex-wrap: wrap;
	justify-content: left;
}

/* heading and chapters */

div[class^= "ds-chapter-"] {
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   	justify-content: space-evenly;
}

img[class^="ds-chapter-"] {
	max-height: 100%;
	align-items: center;
	width: 45%;
	height: auto;
}

div.ds-chapter-heading {
    justify-content: left;
}

ul.ds-heading-list {
	font-size: 2.2em;
	margin-top: 2em;
	background-color: rgba(0,0,0,0);
	max-height: 100%;
}

img.ds-heading-back {
	float: left;
	width: 36%;
	max-height: 100%;
	margin-top: -1em;
	margin-bottom: 1em;
	margin-right: -1em;
}

img.ds-heading-front {
	float: right;
	width: 36%;
	max-height: 100%;
	margin-top: 1em;
	margin-bottom: -1em;
}

p.ds-heading-p {
	float: left;
	padding: 2em;
}

span.book-title {
	font-style: bold;
}

p[class^="ds-paragraph-"]{
	margin-top: 3em;
	align-items: left;
	width: 40%;
	font-size: 1.3em;
}

p.ds-paragraph-n4 {
	margin-top: 6em;
}

/* mobile version */
@media only screen and (max-width: 1000px){
	img[class^="ds-chapter-"] {
		max-height: 100%;
		width: 80%;
		justify-content: center;
	}

	.ds-heading-back,
	.ds-heading-front {
		width: 50%;

	}

	.ds-heading-list {
		margin-top: 1em;
	}

	.ds-paragraph-heading {
		margin-top: 0em;		
	}

	p[class^="ds-paragraph-"]{
		margin: 0.5em;
		width: 95%;
	}

}
