<footer role="contentinfo">
  <div
  id="footer-options"
  {{ if eq .Site.Params.showThemeSwitcher false }}style="display: none;"{{ end }}
  >
    <div id="themer-btn"
      class="footer-option-div">
      <label for="themer">
        {{ T "dark_theme" }} <input type="checkbox" id="themer" class="vh">
      </label>
      <img src="/img/dark-mode.svg" id="themer-img"
      class="footer-option-img"
      >
      <div class="footer-option-text">
        Νταρκ Μόουντ
      </div>
    </div>

    <div id="text-vide-btn"
      class="footer-option-div">
      <label for="text-vide">
        <input type="checkbox" id="text-vide" class="vh">
      </label>
      <img src="/img/glasses.svg"  id="text-vide-img" 
      class="footer-option-img"
      >
      <div class="footer-option-text">
        Εύκολο Διάβασμα
      </div>
    </div>
  </div>
  {{ with .Site.Params.footer }}
    {{ . | markdownify }}
  {{ end }}
</footer>
